# EditorConfig : http://editorconfig.org
# Synchronize IDE styles using a config file.

# Top-most EditorConfig file.
root = true

# Default rules.
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
